.section {
  margin: 0 auto;
  padding: 20px 40px;

  width: 30%;
}

.title {
  padding: 20px;

  font-size: 20px;
  font-weight: 500;

  text-align: center;
  text-transform: uppercase;

  color: #2cac60;

  border-bottom: 2px solid #32ac63;
  border-top: 2px solid #32ac63;
}
